.dropzone
  position: fixed
  top: 0
  left: 0
  z-index: 99999
  visibility: hidden
  width: 100vw
  height: 100vh
  background: $colors.dropzone
  opacity: 0
  transition: opacity .4s\, visibility .4s

  &::before
    @extend $icon, $icon-upload
    position: absolute
    top: 50%
    left: 50%
    font-size: 50vh
    transform: translate(-50%, -50%)


  &.drag-hover
    visibility: visible
    opacity: .85
    transition-duration: .4s, 0
