$icon,
[class^='icon-'],
[class*=' icon-']
  font-family: 'icons'
  speak: none
  font-weight: normal
  font-style: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

$icon-upload,
.icon-upload::before
  content: '\e068'

$icon-cross,
.icon-cross::before
  content: '\e117'

$icon-download,
.icon-download::before
  content: '\e122'

$icon-menu,
.icon-menu::before
  content: '\e120'
