/**
 * Colors
 */

$colorValues = {
}

$colors = {
  background: black,
  text: ivory,
  dropzone: gray
}


/**
 * Typography
 */

$font-family = {
  primary: "Source Sans Pro"\, "Helvetica Neue"\, Helvetica\, Arial\, NimbusSansL\, LiberationSans\, FreeSans\, Clean\, sans-serif,
  monospace: Consolas\, "Liberation Mono"\, Menlo\, Courier\, monospace
}

$font-size = {
  normal: 16px,
  large: 20px,
  small: 12px
}

$line-height = {
  normal: 1.42857,
  small: 1.2
}


/**
 * Spacings
 */

$spacing = {
  normal: $font-size.normal * $line-height.normal
}
$spacing.small = $spacing.normal * .75
$spacing.large = $spacing.normal * 1.5


/**
 * Menu
 */

$menu = {
  item-size: 48px
}


/**
 * Grid
 */

$grid = {
  gutter-width: 15px
}
